---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header>		
	</header>
	<main>
		<section id="boxeadores"
		class={`flex justify-between relative
		[&>div>img]:absolute [&>div>img]:bottom-0
		[&>div>img]:w-auto
		h-[50vh] lg:h-screen pt-24 border-b border-white/10`}>
			<div class="relative w-full">
				<img class="left-0 h-[95%]  z-50" src="/boxers/coscu.webp" alt="Coscu">
				<img class="left-[5%] h-[80%] z-40" src="/boxers/mayichi.webp" alt="Mayichi">
				<img class="left-[15%] h-[75%] z-30" src="/boxers/viruzz.webp" alt="Viruzz">
				<img class="left-[28%] h-[70%] z-20" src="/boxers/fernanfloo.webp" alt="Fernanfloo">
				<img class="left-[38%] h-[68%] z-10" src="/boxers/la-rivers.webp" alt="La Rivers">
				<img class="left-[43%] h-[60%] z-0" src="/boxers/papigavi.webp" alt="Papi Gavi">
			</div>
			<div class="relative w-full">
				<img class="right-0 h-[95%] z-50" src="/boxers/german.webp" alt="German">
				<img class="right-[5%] h-[80%] z-40" src="/boxers/amouranth.webp" alt="Amouranth">
				<img class="right-[15%] h-[75%] z-30" src="/boxers/shelao.webp" alt="Shelao">
				<img class="right-[28%] h-[70%] z-20" src="/boxers/luzu.webp" alt="Luzu">
				<img class="right-[38%] h-[65%] z-10" src="/boxers/rivers.webp" alt="Rivers">
				<img class="right-[43%] h-[60%] z-0" src="/boxers/ampeter.webp" alt="Ampeter">
			</div>
		</section>
	</main>
	<footer>		
	</footer>
</Layout>
<style is:global>

</style>